<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="images">
        
    </div>
    <div class="container">
        <div class="logo">
            <img src="{% static 'images/logo.png.png' %}" alt="ClickCrawl Private Media Limited">
        <h2>Login</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don’t have an account? <a href="{% url 'register' %}">Register here</a>.</p>
    </div>
</body>
</html>