<!-- management/templates/management/admission_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload photo sign updates</title>
</head>
<body>
    <h1>Welcome to the Upload photo sign updatesPage!</h1>
    <p>This is where your Upload photo sign updates will be displayed.</p>

    <!-- Link to Exam Section -->
    <a href="{% url 'exam_section' %}">
        <button type="button">Go to Exam Section</button>
    </a>
    <p>Photo</p><br>
    <p>Photo</p><br>


    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
