<!-- management/templates/management/admission_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Documents updates</title>
</head>
<body>
    <h1>Welcome to the Upload Documents updates Page!</h1>
    <p>This is where yourUpload Documents updates will be displayed.</p>

    <!-- Link to Exam Section -->
    <a href="{% url 'exam_section' %}">
        <button type="button">Go to Exam Section</button>
    </a>
    <p>SSLC MARKS CARD</p><br>
    <p>PUC MARKS CARD</p><br>
    <p>DEGREE MARKS CARD</p><br>
    <p>AADHAR CARD</p><br>


    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
